.mr-1{
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: cursive;
    line-height: 50px;
    background: white;
    color: black;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
}
.popover{
    width: 200px;
    height: auto;
    background: white;
    text-align: center;
    box-shadow: 0 0 1px 1px black;
}
.enterDopTimes{
    width: 80%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    margin: 10px auto;
    user-select: none;
    background: #0000001f;
    border-radius: 4px;
    box-shadow: 0 2px 5px 3px;
}
.enterDopTimes:hover{
    color: #6d0909;
    box-shadow: 0 0 1px 1px;
}

.enterDopTimes:active{
    box-shadow: inset 0 0px 2px 2px;
}

.enterDopTimesFalse{
    width: 80%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    margin: 10px auto;
    user-select: none;
    background: #0000001f;
    border-radius: 4px;
    color: #6d0909;
    box-shadow: inset 0 0px 2px 2px;
}