.blockTimes{
    width: 150px;
    height: 30px;
    font-family: cursive;
    background: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}
.topLines{
    min-height: 50px;
    width: 100%;
}