.TopLine{
    width: 100%;
    border-bottom-color: white
}
.timeBlockTask{
    display: inline-block;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: cursive;
    cursor: pointer;
    box-shadow: 0 0 1px 1px white;
    margin: 10px;
    border-radius: 3px;
    user-select: none;
    background: #ffffff42;
}